*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login{
  background-image: url('pictures/login.jpg');
  background-size: cover;
  height: 100vh;
}

#form{
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

#loginH1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10%;
}

#loginH2{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5%;
}

#loginInput{
  color: white;
  margin-left: 12%;
  margin-top: 10%;
}

#username{
  margin-bottom: 2%;
}

#loginBTN{
  margin-top: 22%;
}

#loginBTNS{
  margin-right: 92%;
}

.saveBTN{
  margin-right: 2%;
}
